<h1>Dashboard</h1>

<%= form_for @shout do |form| %>
  <!--  we changed the body for content-->
  <%#= form.text_field :body, placeholder: "Type your text", required: true %>
  <%= form.fields_for :content do |content_form| %>
    <%= content_form.text_field :body, placeholder: "Shout with a text..", required: true %>
  <%end %>
  <%= form.submit "Shout!" %>
<% end %>


<%= render @shouts %>
